@{
    Layout = null;
    ViewBag.Title = "VarçalSys | Home";
    ViewBag.SelectedMenu = "home";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <link rel="shortcut icon" href="/images/favicon.ico.gif" />

    <link href="~/Website/stylesheets/dark/styles.css" rel="stylesheet" />
    <link href="~/Website/sliders/coin-slider/coin-slider.css" rel="stylesheet" />
    <meta name="title" content="Varçalsys Soluções em Sistemas" />
    <meta name="url" content="www.varcalsys.com.br" />
    <meta name="description" content="Desenvolvimento de Sites e soluções para web e desktop" />
    <meta name="keywords" content="Desenvolvimento de Softwater" />
    <meta name="charset" content="ISO-8859-1" />
    <meta name="autor" content="Cleber Varçal" />
    <meta name="company" content="Varçalsys Soluções" />
    <meta name="revisit-after" content="15" />
    <link rev="made" href="mailto:cleber.varcal@varcalsys.com.br" />

    <title>@ViewBag.Title</title>

    <!-- Initialise jQuery Library -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="~/Website/js/cufon/cufon-yui.js"></script>
</head>
<body id="main" class=".sample_01">
    <!-- Start Main Nav -->
    <div class="mainnav_full">
        @Html.Partial("_Nav")
    </div>
    <!-- End Main Nav -->

    <!-- Begin Header -->
    <div class="header_full sample_01">
       <div class="head_top_shadow"></div>
        <div class="head_bot_shadow"></div>
        <div id="header">           
               @Html.Partial("_Slider")
        </div>
    </div>
    <!-- End Header -->

    <!-- Start Content Wrapper -->
    <div class="content_wrapper">
        <!-- Content Area -->
        <div id="content">

            <div class="columns">
                <div class="column">
                    <h2 class="icon web">Nossa Empresa</h2>
                    <p>
                        Buscando sempre a melhor solução<br/>
                        Estamos sempre nos atualizando para dispor da mais atual tecnologia disponível no mercado.
                        <br/>
                    </p>
                    <a href="/Home/About" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon graph">Blog</h2>
                    <p>
                        Esperamos contribuir com a comunidade<br>
                        divulgando artigos de problemas solucionados em nosso dia à dia de desenvolvimento.
                    </p>
                    <a href="#" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon book">Video-Aulas</h2>
                    <p>
                        Aqui ficará disponível diversas video aulas e materiais para quem tiver interesse em dar inicio na carreira de desenvolvedor.
                    </p>
                    <a href="/Home/VideoAula" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="hr"></div>
            <div class="columns2">
                <div class="column">
                    <h2>Sistemas Customizados</h2>
                    <p class="dropcap-type1">
                        Sistemas customizados de acordo com a necessidade do cliente e ramo de atividade tornando sistema assim muito mais adaptado ao se negócio.
                        WebSites modernos com design atraente para expor melhor a sua empresa 
                    </p>
                    <a href="#" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2>Boas Práticas</h2>
                    <p class="dropcap-type2">
                        Nossos profissionais seguem todas as boas práticas de desenvolvimento facilitando assim futuras necessidade de
                        manutenção e crescimento do sistema tornando assim um sistema robusto e de longa durabilidade 
                    </p>
                    <a href="#" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2>Profissionais Qualificados</h2>
                    <p class="dropcap-type3">
                        Tentamos ao máximo sempre manter nossos colaboradores atualizados, 
                        inclusive incentivando a todos a divulgarem artigos e videos em nosso site para assim sempre mante-los em atividades de pesquisa e busca de conhecimento
                    </p>
                    <a href="#" title="read more" class="btn alignleft">veja mais...</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Content Wrapper -->

    <!-- Start Featured Bottom Line -->
    <div class="featured_bottom_line_full">
        @Html.Partial("_FeaturedBottomLine")
    </div>
    <!-- End Featured Bottom Line -->

    <!-- Start Footer Sidebar -->
    <div class="fsb_full">
        @Html.Partial("_Footer")
    </div>
    <!-- End Footer  -->

    <!-- Theme Hook -->
    <script src="~/Website/js/Includer.js"></script>
    <script type="text/javascript">Cufon.now();</script>

</body>
</html>







