<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico.gif" />
    
    @Styles.Render("~/Content/css")
    <link href="~/Website/stylesheets/dark/styles.css" rel="stylesheet" />
    <link href="~/Website/sliders/coin-slider/coin-slider.css" rel="stylesheet" />
    <link href="~/Website/stylesheets/roundabout.css" rel="stylesheet" />
    
  
    <title>@ViewBag.Title</title>

    <!-- Initialise jQuery Library -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
   
    <script type="text/javascript" src="~/Website/js/cufon/cufon-yui.js"></script>
    
</head>
<body id="sp" onload="initialize()">
    <!-- Start Main Nav -->
    <div class="mainnav_full">
        @Html.Partial("_Nav")
    </div>
    <!-- End Main Nav -->

    <!-- Begin Header -->
<!-- Begin Header -->
<div class="header_full sample_01">
	<div class="head_top_shadow"></div>
	<div class="head_bot_shadow"></div>
	<div id="header"></div>
</div>
<!-- End Header -->
    <!-- End Header -->

    <!-- Start Content Wrapper -->
    
        @RenderBody()
      
   
    <!-- End Content Wrapper -->

    <!-- Start Featured Bottom Line -->
   @* <div class="featured_bottom_line_full">
        @Html.Partial("_FeaturedBottomLine")
    </div>*@
    <!-- End Featured Bottom Line -->

    <!-- Start Footer Sidebar -->
    <div class="fsb_full">
        @Html.Partial("_Footer")
    </div>
    <!-- End Footer  -->

    <!-- Theme Hook -->
  
    <script src="~/Website/js/Includer.js"></script>
    <script type="text/javascript">Cufon.now();</script>
</body>
</html>
